@page
@model Fastfood.Pages.Nhanviens.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Tạo mới</a>
</p>
<form>
    <p>
       
        Tên:
        <input type="text" name="searchString" asp-for="SearchString" />
        <input type="submit" value="Tìm kiếm" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NhanvienIndexVm.Nhanviens[0].Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanvienIndexVm.Nhanviens[0].DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanvienIndexVm.Nhanviens[0].Sodienthoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.NhanvienIndexVm.Nhanviens)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sodienthoai)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.NhanvienId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.NhanvienId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.NhanvienId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var preDisabled = !Model.NhanvienIndexVm.Nhanviens.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.NhanvienIndexVm.Nhanviens.HasNext ? "disabled" : "";
}
<div class="container">
    <a asp-page="Index"
       asp-route-pageIndex="@(Model.NhanvienIndexVm.Nhanviens.PageIndex - 1)"
       class="btn btn-default @preDisabled">Previous</a>

    <a asp-page="Index"
       asp-route-pageIndex="@(Model.NhanvienIndexVm.Nhanviens.PageIndex + 1)"
       class="btn btn-default @nextDisabled">Next</a>
</div>
